.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: fit-content;
  background-color: rgb(165, 181, 235);
  padding: 20px;
  border: 5px solid rgb(2, 0, 138);
}

.letter {
  background-color: rgb(59, 100, 234);
  padding: 25px;
  color: white;
  font-size: 24px;
  box-shadow: 5px 5px 5px grey;
  border: 1px solid white;
  font-weight: bold;
}

h1 {
  font-size: 48px;
}

form {

}
