.block {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: fit-content;
  background-color: rgb(165, 181, 235);
  padding: 20px;
  border: 5px solid rgb(2, 0, 138);
  margin-left: 20px;
}

.letter {
  background-color: rgb(59, 100, 234);
  padding: 25px;
  color: white;
  font-size: 24px;
  box-shadow: 5px 5px 5px grey;
  border: 1px solid white;
  font-weight: bold;
}

h1 {
  font-size: 48px;
  margin-left: 20px;
}

.form {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
}




.result {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: fit-content;
  background-color: rgb(59, 100, 234);
  padding: 20px;
  border: 5px solid rgb(2, 0, 138);
  margin-left: 20px;
  color: white;
}

h3 {
  font-size: 24px ;
  margin-top: 20px;
}

p {
  font-size: 24px;
}

a {
  color: white;
  text-decoration: none;
}
